# Greetings Candidate
<picture>
 <source media="(prefers-color-scheme: dark)" srcset="YOUR-DARKMODE-IMAGE">
 <source media="(prefers-color-scheme: light)" srcset="YOUR-LIGHTMODE-IMAGE">
 <img alt="Nao-Medical" src="https://websitestaginbucket.storage.googleapis.com/wp-content/uploads/2024/03/27201754/img_4_272_e659aa.png">
</picture>


### Assessment For Junior Data Analyst ( Analyst - Intern )

### This assessment is to measure your problem solving ability in python and SQL

# PART 1 - Programming with Python

# Q1 Demonstrate a simple use of date time object - write a simple function get_timestamps() which returns a json like response with string formatted time example :
```json
{
  'timestamp_system' : 'datetime.now()' ,
  'timestamp_utc' : '-- current time in UTC timezone --',
  'timestamp_est' : '-- current time in EST timezone --',
  'timestamp-epoch' : 'string-casted-timestamp-epoch-integer'
}
```

In [2]:
def get_timestamps():
timestamp_system = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
    timestamp_utc = datetime.now(pytz.utc).strftime('%Y-%m-%d %H:%M:%S')
    est_timezone = pytz.timezone('America/New_York')
    timestamp_est = datetime.now(est_timezone).strftime('%Y-%m-%d %H:%M:%S')

    timestamp_epoch = int(datetime.now().timestamp())

    
    response = {
        'timestamp_system': timestamp_system,
        'timestamp_utc': timestamp_utc,
        'timestamp_est': timestamp_est,
        'timestamp_epoch': str(timestamp_epoch)
    }
    return json.dumps(response)
  pass

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 17)

## Q2 write a random password generator

In [ ]:
def randomPasswordGenerator():
  import random
import string

def generate_password(length=12):
    chars = string.ascii_letters + string.digits + string.punctuation
    password = ''.join(random.choice(chars) for i in range(length))
    return password
    print(generate_password(10))

  pass

## Q3 Write a simple html table writer - given a very basic sales data you have to write a function which accepts a dictionary(json) input and returns a formatted html table data with the following conditions :
- If the key name includes Price or Sales the value should be formatted with $ and upto 2 decimal places
- If the key inlcudes a keyword Unit - the value should be formatted as a plain Integer (no decimal places)
- And based on the ratio of Price to Sales ( TP  / TS ) add a new row as "backgroundColor"
  - if TP/TS <= 0 then return "RED"
  - if TP/TS is between 1 and 0 then "YELLOW"
  - if TP/TS >=1 then return "GREEN"

In [ ]:
def my_table_generator(jsonData):
     
    html = "<table border='1' cellpadding='5' cellspacing='0'>\n"
    html += "<tr>"
    for key in jsonData.keys():
        html += f"<th>{key}</th>"
    html += "</tr>\n"
    

    html += "<tr>"
    for key, value in jsonData.items():
        formatted_value = format_value(key, value)
        html += f"<td>{formatted_value}</td>"
    html += "</tr>\n"
    
    total_price = jsonData.get("Total Price", 0)
    total_sales = jsonData.get("Total Sales", 1)  
    background_color = calculate_background_color(total_price, total_sales)

    html += f"<tr><td colspan='{len(jsonData)}' style='background-color:{background_color};'>Background Color: {background_color}</td></tr>\n"

    html += "</table>"
    
    return html
  

  pass

# PART 2 - SQL

 Q1 - You have a table in you database named as "PatientVisits" with following columns
```csv
date_of_visit ( type string format YYYY-MM-DD ),
Appointment_Start_Time ( type string format HH:MM:SS ),
visit_ID,
Appointment_Created_By_User,
VISIT_TYPE,
VISIT_STATUS,
Patient_DOB ( type string format YYYY-MM-DD ) ,
Patient_Gender,
Patient_Race,
location,
Appointment_Provider_Name,
Primary_Insurance_Name,
patient_id
```

- 1.1 Write a query to fetch all appointment records for last 7 days of visit dates and note that "date_of_visit" stores ISO format data in string format.


- 1.2 Write a query to get staff member who creates the most number of appointments ( Appointment_Created_By_User )

- 1.3 Write a query to count total daily visits by gender

- 1.3 Write a query to count total daily visits by gender and the output format should be as below
<!-- 
  csv
  Visit_Date | Male | Female | Gender_Not_Mentioned | Total
  Monday Sep 16, 2024 | 7 | 8 | 5 | 20
  Tuesday Sep 17, 2024 | 17 | 18 | 35 | 70 -->
  
 

- 1.4 Write a query that summarizes the number of daily visits by location, displaying the location name and the count of visits


- 1.5 Write a query to get all upcoming appointments ( visits ) for next 30 days


- 1.6 Write a query to determine which location has the most visits scheduled for the next days.



- 1.7 Write a query to determine busy hours by date of visit
the output format should be as below
  <br> hint : create a new column appointment_timestamp which is a combination of
date_of_visit and Appointment_Start_Time -   here Visit date is formatted as human readable date and columns are hours of the appointment_timestamp and The hour's columns represent each hour from 0 to 23 (24-hour format).
```csv
Visit_Date | 8 | 9 | 10 | .......... | 17 Total
Monday Sep 16, 2024 | 7 | 8 | 5 | ....... |  20
Tuesday Sep 17, 2024 | 17 | 18 | 35 | ........ |  70
.

```
<br>



- 1.8 Write a query to fetch the patient with most visits _ TOP 100 Patient with most number of visits who had following visit status'CHK' , 'ER' , 'Vaccinated'
 

- 1.9 Write a query to get average age of patient who have visited in last calendar month. Hint : <br>
    - break down the requirement into sub tasks/queries
    - remember to cast patient_dob and date_of_visit into date first then calculate age_on_visit
 

- 1.10 Write a query to generate a report that shows how many visits each provider has based on the `VISIT_STATUS` ( Completed, No-Show, Canceled). The output should display the provider name along with each status count in separate columns. <br> note : here
  - Completed includes both 'CHK' and 'ER'
  - No-Show includes 'NoShow'
  - Canceled includes 'PatientCanceled' and 'PracticeCanceled'
 


- 1.11  Write a query to generate a report that displays the total number of visits for each provider by month.
The output should include:
  - Month (formatted as 'YYYY-MM')
  - Provider Name
  - Total Visits

In [ ]:
## SOLUTIONS FOR SQL QUERIES ABOVE

In [ ]:
1.1
SELECT * 
FROM PatientVisits
WHERE CAST(date_of_visit AS DATE) >= DATE_SUB(CURDATE(), INTERVAL 7 DAY);

In [ ]:
1.2
SELECT Appointment_Created_By_User, COUNT(*) AS total_appointments
FROM PatientVisits
GROUP BY Appointment_Created_By_User
ORDER BY total_appointments DESC
LIMIT 1;

In [ ]:
1.3
SELECT 
    DATE_FORMAT(CAST(date_of_visit AS DATE), '%W %b %d, %Y') AS Visit_Date,
    SUM(CASE WHEN Patient_Gender = 'Male' THEN 1 ELSE 0 END) AS Male,
    SUM(CASE WHEN Patient_Gender = 'Female' THEN 1 ELSE 0 END) AS Female,
    SUM(CASE WHEN Patient_Gender NOT IN ('Male', 'Female') THEN 1 ELSE 0 END) AS Gender_Not_Mentioned,
    COUNT(*) AS Total
   FROM PatientVisits
   GROUP BY Visit_Date
   ORDER BY CAST(date_of_visit AS DATE) ASC;

In [ ]:
1.4
SELECT 
    CAST(date_of_visit AS DATE) AS Visit_Date,
    location,
    COUNT(*) AS total_visits
   FROM PatientVisits
   GROUP BY Visit_Date, location
   ORDER BY Visit_Date ASC, location ASC;

In [ ]:
 1.5
    SELECT *
        FROM appointments
        WHERE visit_date >= CURRENT_DATE
      AND visit_date < CURRENT_DATE + INTERVAL '30 days'
       ORDER BY visit_date ASC;

In [ ]:
1.6
SELECT location_id, COUNT(*) AS visit_count
        FROM appointments
        WHERE visit_date >= CURRENT_DATE
          AND visit_date < CURRENT_DATE + INTERVAL '30 days'
        GROUP BY location_id
        ORDER BY visit_count DESC
        LIMIT 1;

In [ ]:
1.7
SELECT 
    TO_CHAR(date_of_visit, 'FMDay, FMMonth DD, YYYY') AS Visit_Date,
    COUNT(CASE WHEN EXTRACT(HOUR FROM appointment_start_time) = 8 THEN 1 END) AS "8",
    COUNT(CASE WHEN EXTRACT(HOUR FROM appointment_start_time) = 9 THEN 1 END) AS "9",
    COUNT(CASE WHEN EXTRACT(HOUR FROM appointment_start_time) = 10 THEN 1 END) AS "10",
    COUNT(CASE WHEN EXTRACT(HOUR FROM appointment_start_time) = 11 THEN 1 END) AS "11",
    COUNT(CASE WHEN EXTRACT(HOUR FROM appointment_start_time) = 12 THEN 1 END) AS "12",
    COUNT(CASE WHEN EXTRACT(HOUR FROM appointment_start_time) = 13 THEN 1 END) AS "13",
    COUNT(CASE WHEN EXTRACT(HOUR FROM appointment_start_time) = 14 THEN 1 END) AS "14",
    COUNT(CASE WHEN EXTRACT(HOUR FROM appointment_start_time) = 15 THEN 1 END) AS "15",
    COUNT(CASE WHEN EXTRACT(HOUR FROM appointment_start_time) = 16 THEN 1 END) AS "16",
    COUNT(CASE WHEN EXTRACT(HOUR FROM appointment_start_time) = 17 THEN 1 END) AS "17",
        COUNT(*) AS "Total"
    FROM 
        appointments
    GROUP BY 
        date_of_visit
    ORDER BY 
        date_of_visit;

In [ ]:
 1.8
    SELECT 
        patient_id, 
        COUNT(*) AS visit_count
    FROM 
        appointments
    WHERE 
        visit_status IN ('CHK', 'ER', 'Vaccinated')
    GROUP BY 
        patient_id
    ORDER BY 
        visit_count DESC
    LIMIT 100;

In [ ]:
1.9
WITH visits_last_month AS (
        SELECT 
            patient_dob, 
            CAST(date_of_visit AS DATE) AS visit_date
        FROM 
            appointments
        WHERE 
            date_of_visit >= DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month')
            AND date_of_visit < DATE_TRUNC('month', CURRENT_DATE)
    ),
    age_calculation AS (
        SELECT 
            EXTRACT(YEAR FROM age(visit_date, CAST(patient_dob AS DATE))) AS age_on_visit
        FROM 
            visits_last_month
    )

   SELECT 
        AVG(age_on_visit) AS average_age
    FROM 
        age_calculation;

In [ ]:
 1.10
    SELECT 
        provider_name,
        COUNT(CASE WHEN visit_status IN ('CHK', 'ER') THEN 1 END) AS Completed,
        COUNT(CASE WHEN visit_status = 'NoShow' THEN 1 END) AS No_Show,
        COUNT(CASE WHEN visit_status IN ('PatientCanceled', 'PracticeCanceled') THEN 1 END) AS Canceled
    FROM 
        appointments
    GROUP BY 
        provider_name
    ORDER BY 
        provider_name;

In [ ]:
1.11
SELECT 
        TO_CHAR(date_of_visit, 'YYYY-MM') AS Month,
        provider_name,
        COUNT(*) AS Total_Visits
    FROM 
        appointments
    GROUP BY 
        TO_CHAR(date_of_visit, 'YYYY-MM'), 
        provider_name
    ORDER BY 
        Month, 
        provider_name;

# Part 3 - Data Wrangling with Python

## Q1 - Your first task is to get all data from this [link](https://gist.githubusercontent.com/dataAnalystNaoMedical/171e7434e87634cef0d66383eb0257cc/raw/af92209669914f5eaf290a227668dd464abdd447/song-json.json) and save it as a json locally

In [ ]:
import requests
import json

def get_data():
      requests.exceptions.RequestException: If there's an error fetching the data.
  

  url = "https://gist.githubusercontent.com/dataAnalystNaoMedical/171e7434e87634cef0d66383eb0257cc/raw/af92209669914f5eaf290a227668dd464abdd447/song-json.json"

  try:
    response = requests.get(url)
    response.raise_for_status()  
    if response.headers['Content-Type'] != 'application/json':
      raise ValueError("Expected content type: application/json")


    data = response.json()

    with open("song-data.json", "w") as outfile:
      json.dump(data, outfile, indent=4)  

    print("Data successfully retrieved and saved as song-data.json")

  except requests.exceptions.RequestException as e:
    print(f"Error fetching data: {e}")

if __name__ == "__main__":
  get_data()

## Q2 - Read the saved json as a dataframe and cast ChartDate into a proper datetime type / or a relative type

In [ ]:
import pandas as pd

def read_format_dataframe():

  try:

    df = pd.read_json("song-data.json")

    
    df['ChartDate'] = pd.to_datetime(df['ChartDate'])

    return df

  except FileNotFoundError:
    print("Error: JSON file not found.")

  except ValueError as e:
    print(f"Error converting ChartDate: {e}")

## Q3 - Based on the data prepare following metrics :

1. **Total Songs Count**:
   - **Question**: Write a query to calculate the total number of songs in the dataset.
 ANSWER -total_songs = df.shape[0]
          print("Total Songs Count:", total_songs)
2. **Song Count by Month ( YYYY-MM )**:
   - **Question**: Write a query to calculate the total number of songs released each month of the year. Present the results in a descending order based on the number of songs.
 ANSWER -df['Month'] = df['ChartDate'].dt.strftime('%Y-%m')
        song_count_by_month = df.groupby('Month').size().sort_values(ascending=False)
        print("Song Count by Month:\n", song_count_by_month)

3. **Song Count by Week**:
   - **Question**: Write a query to calculate the total number of songs released each week. Present the results in a descending order based on the number of songs.
 ANSWER - df['Week'] = df['ChartDate'].dt.strftime('%Y-%W')
        song_count_by_week = df.groupby('Week').size().sort_values(ascending=False)
        print("Song Count by Week:\n", song_count_by_week)

4. **Top n Artists by Number of Songs**:
   - **Question**: Identify the top 5 artists with the most number of songs in the dataset. Provide the artist names and their song counts.
ANSWER - top_artists = df.groupby('ArtistName').size().sort_values(ascending=False).head(5)
          print("Top 5 Artists by Number of Songs:\n", top_artists)


5. **Most Popular Songs**:
   - **Question**: Write a query to find the position of the most popular songs in the dataset. (Assuming a lower position number indicates higher popularity.)
ANSWER - most_popular_song = df.sort_values('Position').iloc[0]
        print("Most Popular Song:\n", most_popular_song)
  
6. **Count of Unique Artists**:
   - **Question**: Write a query to find out how many unique artists are present in the dataset.
ANSWER - unique_artists = df['ArtistName'].nunique()
          print("Count of Unique Artists:", unique_artists)

7. **Songs by a Specific Artist**:
   - **Question**: Write a query to count how many songs are by a specific artist (e.g., "R KELLY").
ANSWER - artist_name = "R KELLY"
    songs_by_artist = df[df['ArtistName'] == artist_name].shape[0]
    print(f"Songs by {artist_name}:", songs_by_artist)

Q4 - Download csv data from this [link](https://catalog.data.gov/dataset/alzheimers-disease-and-healthy-aging-data)

And prepare following metrics :

Sure! Here are Python data analysis questions that revolve around the dataset you've described, encouraging the use of Pandas for filtering, grouping, pivoting, and other basic data manipulation tasks:

### Basic Python Data Analysis Questions

1. **Loading the Data**:
   - **Question**: Write a Python code snippet to load the dataset into a Pandas DataFrame from a CSV file named `health_data.csv`. Display the first five rows of the DataFrame.
ANSWER - import requests

 url = "https://catalog.data.gov/dataset/alzheimers-disease-and-healthy-aging-data/download/alzheimers_disease_&_healthy_aging_data.csv"

try:
  response = requests.get(url, stream=True)
  response.raise_for_status()

  with open("health_data.csv", "wb") as f:
    for chunk in response.iter_content(1024):
      f.write(chunk)

  print("Data downloaded successfully!")
except requests.exceptions.RequestException as e:
  print(f"Error downloading data: {e}")
  

2. **Filtering Data**:
   - **Question**: Write a query to filter the DataFrame to only include records related to older adults (65 years or older) in the state of Maryland. Display the resulting DataFrame.
  ANSWER - import pandas as pd
df = pd.read_csv("health_data.csv")
print(df.head())

3. **Calculating Summary Statistics**:
   - **Question**: What is the average percentage of tooth retention reported by older adults in Maryland? Write a code snippet to calculate and display this average.
 ANSWER -
filtered_df = df[(df['Age'] >= 65) & (df['State'] == 'Maryland')]
print(filtered_df)



4. **Grouping Data**:
   - **Question**: Write a query to group the data by `Age Groups` (which column refers to this ?? ) and calculate the mean percentage of tooth retention for each group. Display the results.
ANSWER - average_retention = df[df['Age'] >= 65]['Data_Value'].mean()
print("Average tooth retention for older adults in Maryland:", average_retention)

5. **Pivot Table**:
   - **Question**: Create a pivot table that shows the average `Data_Value` (percentage of tooth retention) for each race/ethnicity category and class (overall health). Display the pivot table.
ANSWER - # Assuming the column for age groups is named 'Age_Group'
grouped_df = df.groupby('Age_Group')['Data_Value'].mean()
print("Mean tooth retention by age groups:\n", grouped_df)



6. **Sorting Data**:
   - **Question**: Sort the DataFrame based on the `Data_Value` in descending order. Display the top 10 records after sorting.
ANSWER - pivot_table = df.pivot_table(index='Race/Ethnicity', columns='Class', values='Data_Value', aggfunc='mean')
print("Average tooth retention by race/ethnicity and class:\n", pivot_table)


7. **Count Unique Values**:
   - **Question**: Write a code snippet to count the number of unique locations in the dataset. What does this tell you about the dataset?
ANSWER -


8. **Identifying Missing Values**:
   - **Question**: Check and report the number of missing values in the `Data_Value` column.
ANSWER -  import pandas as pd
        missing_values_count = df['Data_Value'].isnull().sum()
        print("Number of missing values in Data_Value:", missing_values_count)


9. **Filtering for Specific Conditions**:
   - **Question**: Filter the DataFrame to show only entries where the `Data_Value` is greater than 70%. Print the filtered DataFrame.
 ANSWER -filtered_df = df[df['Data_Value'] > 70]
print(filtered_df)

10. **Visualizing Data**:
    - **Question**: Write code to create a bar chart displaying the average percentage of tooth retention by race/ethnicity. Use Matplotlib or Seaborn for visualization.
  ANSWER - import matplotlib.pyplot as plt
                average_by_stratification = df.groupby('Stratification2')['Data_Value'].mean()
                plt.figure(figsize=(10, 6))
                plt.bar(average_by_stratification.index, average_by_stratification.values)
                plt.xlabel('Stratification2')
                plt.ylabel('Average Data Value')
                plt.title('Average Data Value by Stratification2')
                plt.xticks(rotation=45)
                plt.show()

    ```python
    ## calculate average by Stratification2 and use plotly for bar chart
    ```
10. **Visualizing Data**:
    - **Question**: Write code to create a pie chart to visualze distribution of topic counts of the dataset
 ANSWER - import matplotlib.pyplot as plt
                topic_counts = df['Topic'].value_counts()

   plt.figure(figsize=(8, 8))
       plt.pie(topic_counts, labels=topic_counts.index, autopct='%1.1f%%', startangle=140)
            plt.title('Distribution of Topic Counts')
                plt.show()

    ```python
    ## calculate count by topic and use plotly for bar chart
    ```

12. **Visualize a trend line**
  - **Question** : Write pandas code to see yearly trend of question mentions - count of records for values mentioned in 'YearStart' <br> ### use plotly ###
  ANSWER - import plotly.express as px

df['YearStart'] = df['YearStart'].astype(int)  # Convert to integer if necessary

fig = px.line(df, x='YearStart', y='Question Mentions', title='Yearly Trend of Question Mentions')
fig.show()


These questions aim to test various fundamental skills in data manipulation and analysis using Pandas, catering to introductory-level data analysis tasks. Adjust the complexity as needed based on your students' experience levels!

In [ ]:
## https://catalog.data.gov/dataset/alzheimers-disease-and-healthy-aging-data

## Q5 -  Write a codebase python snippet which connects to a sql database ( cloud or locall - any ) - and query some data into a dataframe
 - A simple function usage to extract some data
 - And a simple function usage to insert some data

In [ ]:
import pandas as pd
import sqlalchemy

def connect_to_database(db_url):

  Args:
      db_url (str): The URL of the SQL database.

  Returns:
      sqlalchemy.engine.Engine: The database engine object.


  engine = sqlalchemy.create_engine(db_url)
  return engine

def extract_data(engine, query):


  Args:
      engine (sqlalchemy.engine.Engine): The database engine object.
      query (str): The SQL query to execute.

  Returns:
      pandas.DataFrame: The extracted data as a DataFrame.


  df = pd.read_sql_query(query, engine)
  return df

def insert_data(engine, df, table_name):


  Args:
      engine (sqlalchemy.engine.Engine): The database engine object.
      df (pandas.DataFrame): The DataFrame containing the data to insert.
      table_name (str): The name of the table to insert the data into.
  

  df.to_sql(table_name, engine, if_exists='replace', index=False)

db_url = 'sqlite:///my_database.db'  

engine = connect_to_database(db_url)


query = "SELECT * FROM my_table"
df = extract_data(engine, query)

data = {'column1': [1, 2, 3], 'column2': ['a', 'b', 'c']}
insert_df = pd.DataFrame(data)
insert_data(engine, insert_df, 'my_table')